In [1]:
#importing modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [3]:
df=pd.read_csv("C:/Users/Acer/OneDrive/Documents/MACLEARNING/machinelearning/data/play_tennis.csv")

In [4]:
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [5]:
df=df.drop(columns=['day'])

In [6]:
df.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [8]:
''' 
Problem 1:
Outlook_sunny,temp=Hot,Humidity=High,wind=weak
solution:
P(yes/sunny,hot,weak)=p(sunny/yes)*p(hot/yes)*p(weak/yes)
p(no/sunny,hot,weak)=p(sunny/no)*p(hot/no)*p(weak/no)
#then the comparision is done
'''

' \nProblem 1:\nOutlook_sunny,temp=Hot,Humidity=High,wind=weak\nsolution:\nP(yes/sunny,hot,weak)=p(sunny/yes)*p(hot/yes)*p(weak/yes)\np(no/sunny,hot,weak)=p(sunny/no)*p(hot/no)*p(weak/no)\n#then the comparision is done\n'

In [9]:
'''
Firs the lookup table is created where every required probalbity will be calculated
Here for all the unique rows the probablity is calculated
'''

'\nFirs the lookup table is created where every required probalbity will be calculated\nHere for all the unique rows the probablity is calculated\n'

In [10]:
#p(yes)
#P(no)
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [12]:
py=9/14
pn=5/14

In [14]:
#outlook
pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [ ]:
Pon=0#probablity of overcast given no
Prn=2/5#probablity of rain given no
Psn=3/5#probablity of sunny given no
Poy=4/9#probablity of outllok given yes
Pry=3/9#probablity of rain given yes
Psy=2/9#probablity of sunny given yes

In [16]:
#temp
pd.crosstab(df['temp'],df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [17]:
PCoolNo=1/5
PCoolYes=3/9
PHotNo=2/5
PHotYes=2/9
PMildYes=4/9
PMildNo=2/5

In [18]:
pd.crosstab(df['humidity'],df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [19]:
PHighNo=4/5
PHighYes=3/9
PNormalNo=1/5
PNormalYes=6/9

In [20]:
pd.crosstab(df['wind'],df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [21]:
PStrongNo=3/5
PStrongYes=3/9
PWeakNo=2/5
PWeakYes=6/9

In [24]:
#Outlook_sunny,temp=Hot,Humidity=High,wind=weak
PYes=py*Psy*PHotYes*PHighYes*PWeakYes
PNo=pn*Psn*PHotNo*PHighNo*PWeakNo

In [25]:
PYes,PNo

(0.007054673721340388, 0.02742857142857143)

In [ ]:
''' 
PNo is higher than the PYes thus the No game is played in such condition.'''