## <b> NOMINAL CATEGORICAL DATA</b>

<p style='font-size:18px'><b> One hot encoding</b></p>
 We do the one hot encoding for the nominal data. Nominal datas are the data which do not have the inherent encoding thus we need to encode such that the no order of data categories is formed during encding. 
 Thus one hot encoding is done.

### <u> Pictorial representation of one hot encoding
\
![image](images/onehotencoding.png)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('data/Student_performance_10k.csv')
df['race_ethnicity'].unique()
map_values = {
    'C': 'group C',
    'group C': 'group C',
    'group C\n': 'group C',  # Note single backslash for actual newline
    'A': 'group A',
    'E': 'group E',
    'D': 'group D',
    'B': 'group B',
    'group A':'group A',
    'group B':'group B',
    'group C':'group C',
    'group D':'group D',
    'group E':'group E'
}
df['race_ethnicity'] = df['race_ethnicity'].map(map_values)

In [3]:
df.head()

,roll_no,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,science_score,total_score,grade
0,std-01,male,group D,some college,1.0,1.0,89,38.0,85.0,26.0,238.0,C
1,std-02,male,group B,high school,1.0,0.0,65,100.0,67.0,96.0,328.0,A
2,std-03,male,group C,master's degree,1.0,0.0,10,99.0,97.0,58.0,264.0,B
3,std-04,male,group D,some college,1.0,1.0,22,51.0,41.0,84.0,198.0,D
4,std-05,male,group C,some college,0.0,1.0,26,58.0,64.0,65.0,213.0,C

In [4]:
df['race_ethnicity'].unique()

array(['group D', 'group B', 'group C', 'group E', 'group A', nan],
      dtype=object)

In [5]:
df.dropna(axis=0,inplace=True,subset=['race_ethnicity','lunch','gender','roll_no','test_preparation_course','parental_level_of_education'])

In [6]:
df.isnull().sum()

roll_no                         0
gender                          0
race_ethnicity                  0
parental_level_of_education     0
lunch                           0
test_preparation_course         0
math_score                     23
reading_score                  24
writing_score                  24
science_score                  23
total_score                    19
grade                           3
dtype: int64

In [7]:
df['gender'].unique()

array(['male', 'Boy', '\\tmale', 'female', 'Girl'], dtype=object)

In [8]:
map_values = {
    'male': 'male',
    '\\tmale': 'male',
    'female': 'female',
    'Boy': 'male',
    'Girl': 'female',
}
    
df['gender'] = df['gender'].map(map_values)

In [9]:
df['gender'].unique()

array(['male', 'female'], dtype=object)

In [10]:
df['race_ethnicity'].value_counts()

race_ethnicity
group C    2895
group D    2551
group B    1886
group E    1503
group A    1053
Name: count, dtype: int64

### 1.One hot encoding using pandas

In [11]:
pd.get_dummies(df,columns=['gender','race_ethnicity'])

,roll_no,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,science_score,total_score,grade,gender_female,gender_male,race_ethnicity_group A,race_ethnicity_group B,race_ethnicity_group C,race_ethnicity_group D,race_ethnicity_group E
0,std-01,some college,1.0,1.0,89,38.0,85.0,26.0,238.0,C,False,True,False,False,False,True,False
1,std-02,high school,1.0,0.0,65,100.0,67.0,96.0,328.0,A,False,True,False,True,False,False,False
2,std-03,master's degree,1.0,0.0,10,99.0,97.0,58.0,264.0,B,False,True,False,False,True,False,False
3,std-04,some college,1.0,1.0,22,51.0,41.0,84.0,198.0,D,False,True,False,False,False,True,False
4,std-05,some college,0.0,1.0,26,58.0,64.0,65.0,213.0,C,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,std-9996,some college,1.0,0.0,78,60.0,46.0,58.0,242.0,C,True,False,False,False,True,False,False
9996,std-9997,bachelor's degree,1.0,0.0,37,92.0,99.0,73.0,301.0,B,True,False,False,False,True,False,False
9997,std-9998,associate's degree,1.0,1.0,70,71.0,100.0,90.0,331.0,A,True,False,False,True,False,False,False
9998,std-9999,some high school,1.0,0.0,87,60.0,100.0,89.0,336.0,A,True,False,False,True,False,False,False
9999,std-10000,high school,1.0,0.0,31,89.0,93.0,80.0,293.0,B,True,False,False,True,False,False,False

### 2.k-1 encoding

In [12]:
pd.get_dummies(df,columns=['gender','race_ethnicity'],drop_first=True)

,roll_no,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,science_score,total_score,grade,gender_male,race_ethnicity_group B,race_ethnicity_group C,race_ethnicity_group D,race_ethnicity_group E
0,std-01,some college,1.0,1.0,89,38.0,85.0,26.0,238.0,C,True,False,False,True,False
1,std-02,high school,1.0,0.0,65,100.0,67.0,96.0,328.0,A,True,True,False,False,False
2,std-03,master's degree,1.0,0.0,10,99.0,97.0,58.0,264.0,B,True,False,True,False,False
3,std-04,some college,1.0,1.0,22,51.0,41.0,84.0,198.0,D,True,False,False,True,False
4,std-05,some college,0.0,1.0,26,58.0,64.0,65.0,213.0,C,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,std-9996,some college,1.0,0.0,78,60.0,46.0,58.0,242.0,C,False,False,True,False,False
9996,std-9997,bachelor's degree,1.0,0.0,37,92.0,99.0,73.0,301.0,B,False,False,True,False,False
9997,std-9998,associate's degree,1.0,1.0,70,71.0,100.0,90.0,331.0,A,False,True,False,False,False
9998,std-9999,some high school,1.0,0.0,87,60.0,100.0,89.0,336.0,A,False,True,False,False,False
9999,std-10000,high school,1.0,0.0,31,89.0,93.0,80.0,293.0,B,False,True,False,False,False

### 3. OneHotEncoding using Scikitlearn

In [13]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(drop='first')
X_data=ohe.fit_transform(df[['gender','race_ethnicity']]).toarray()

In [14]:
X_data

array([[1., 0., 0., 1., 0.],
       [1., 1., 0., 0., 0.],
       [1., 0., 1., 0., 0.],
       ...,
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.]])

In [15]:
np.hstack((df[['roll_no','parental_level_of_education']].values,X_data))

array([['std-01', 'some college', 1.0, ..., 0.0, 1.0, 0.0],
       ['std-02', 'high school', 1.0, ..., 0.0, 0.0, 0.0],
       ['std-03', "master's degree", 1.0, ..., 1.0, 0.0, 0.0],
       ...,
       ['std-9998', "associate's degree", 0.0, ..., 0.0, 0.0, 0.0],
       ['std-9999', 'some high school', 0.0, ..., 0.0, 0.0, 0.0],
       ['std-10000', 'high school', 0.0, ..., 0.0, 0.0, 0.0]],
      dtype=object)