<p><b>Worked with the csv file using the pandas and also fetched the csv from web</b></p>

In [14]:
import pandas as pd
df=pd.read_csv('advertising.csv')

In [15]:
df

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0
...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,2016-02-11 21:49:00,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,Bosnia and Herzegovina,2016-04-22 02:07:01,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,2016-02-01 17:24:57,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,2016-03-24 02:35:54,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,2016-06-03 21:43:21,1

<ul>
    <li style='color:DARK; font-size:20px;'><b>USING THE REQUEST LIBRARY FOR THE CSV FILE</b></li>
</ul>

In [16]:
import pandas as pd
import requests
from io import StringIO

url = 'https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36'}

req = requests.get(url, headers=headers)
data = StringIO(req.text)
df = pd.read_csv(data)
print(df.head())  # Verify the output

    Country  Region
0   Algeria  AFRICA
1    Angola  AFRICA
2     Benin  AFRICA
3  Botswana  AFRICA
4   Burkina  AFRICA

<ul>
<li style='font-size:20px'><b>USING THE INDEX-COL PARAMETER</b></li>
</ul>

In [17]:
print(pd.read_csv('advertising.csv',index_col='Age'))

     Daily Time Spent on Site  Area Income  Daily Internet Usage  \
Age
35                      68.95     61833.90                256.09
31                      80.23     68441.85                193.77
26                      69.47     59785.94                236.50
29                      74.15     54806.18                245.89
35                      68.37     73889.99                225.58
..                        ...          ...                   ...
30                      72.97     71384.57                208.58
45                      51.30     67782.17                134.42
51                      51.63     42415.72                120.37
19                      55.55     41920.79                187.95
26                      45.01     29875.80                178.35

                             Ad Topic Line            City  Male  \
Age
35      Cloned 5thgeneration orchestration     Wrightburgh     0
31      Monitored national standardization       West Jodi     1
26        Organic bottom-line service-desk        Davidton     0
29   Triple-buffered reciprocal time-frame  West Terrifurt     1
35           Robust logistical utilization    South Manuel     0
..                                     ...             ...   ...
30           Fundamental modular algorithm       Duffystad     1
45         Grass-roots cohesive monitoring     New Darlene     1
51            Expanded intangible solution   South Jessica     1
19    Proactive bandwidth-monitored policy     West Steven     0
26         Virtual 5thgeneration emulation     Ronniemouth     0

                    Country            Timestamp  Clicked on Ad
Age
35                  Tunisia  2016-03-27 00:53:11              0
31                    Nauru  2016-04-04 01:39:02              0
26               San Marino  2016-03-13 20:35:42              0
29                    Italy  2016-01-10 02:31:19              0
35                  Iceland  2016-06-03 03:36:18              0
..                      ...                  ...            ...
30                  Lebanon  2016-02-11 21:49:00              1
45   Bosnia and Herzegovina  2016-04-22 02:07:01              1
51                 Mongolia  2016-02-01 17:24:57              1
19                Guatemala  2016-03-24 02:35:54              0
26                   Brazil  2016-06-03 21:43:21              1

[1000 rows x 9 columns]

<ul>
<li style='font-size:20px'><b>USING "headers" PARAMETER</b></li>
</ul>

In [18]:
pd.read_csv('advertising.csv',header=0)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0
...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,2016-02-11 21:49:00,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,Bosnia and Herzegovina,2016-04-22 02:07:01,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,2016-02-01 17:24:57,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,2016-03-24 02:35:54,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,2016-06-03 21:43:21,1

<ul>
<li style='font-size:20px'><b>USING "use_cols" PARAMETER</b></li>
</ul>

In [19]:
pd.read_csv('advertising.csv',usecols=['Daily Time Spent on Site',
                                       'Age',
                                       'Area Income'])

     Daily Time Spent on Site  Age  Area Income
0                       68.95   35     61833.90
1                       80.23   31     68441.85
2                       69.47   26     59785.94
3                       74.15   29     54806.18
4                       68.37   35     73889.99
..                        ...  ...          ...
995                     72.97   30     71384.57
996                     51.30   45     67782.17
997                     51.63   51     42415.72
998                     55.55   19     41920.79
999                     45.01   26     29875.80

[1000 rows x 3 columns]

<ul>
<li style='font-size:20px'><b>USING "Skiprows/nrows" PARAMETER</b></li>
</ul>

In [28]:
pd.read_csv('advertising.csv',skiprows=[4])

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0
4,59.99,23,59761.56,226.74,Sharable client-driven software,Jamieberg,1,Norway,2016-05-19 14:30:17,0
...,...,...,...,...,...,...,...,...,...,...
994,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,2016-02-11 21:49:00,1
995,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,Bosnia and Herzegovina,2016-04-22 02:07:01,1
996,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,2016-02-01 17:24:57,1
997,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,2016-03-24 02:35:54,0
998,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,2016-06-03 21:43:21,1

In [30]:
pd.read_csv('advertising.csv',nrows=100)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0
...,...,...,...,...,...,...,...,...,...,...
95,72.84,26,52968.22,238.63,Progressive empowering alliance,Wongland,0,Albania,2016-07-08 21:18:32,0
96,45.72,36,22473.08,154.02,Versatile homogeneous capacity,Williammouth,1,Hong Kong,2016-04-19 15:14:58,1
97,39.94,41,64927.19,156.30,Function-based optimizing protocol,Williamsborough,0,Lithuania,2016-01-08 22:47:10,1
98,35.61,46,51868.85,158.22,Up-sized secondary software,North Michael,0,Egypt,2016-03-28 08:46:26,1
99,79.71,34,69456.83,211.65,Seamless holistic time-frame,Benjaminchester,1,Bangladesh,2016-07-02 14:57:53,0

<ul>
<li style='font-size:20px'><b>USING "encoding" PARAMETER</b></li>
</ul>

In [ ]:
#use when we do not have utf encoding in the csv file then put the same encoding parameter in the encoding you get when you run a code.
#pd.read_csv('   ',encoding='latin-1')

<ul>
<li style='font-size:20px'><b>USING"on bad lines" PARAMETER</b></li>
</ul>

In [32]:
pd.read_csv('advertising.csv', on_bad_lines='skip')

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0
...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,2016-02-11 21:49:00,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,Bosnia and Herzegovina,2016-04-22 02:07:01,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,2016-02-01 17:24:57,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,2016-03-24 02:35:54,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,2016-06-03 21:43:21,1

<ul>
<li style='font-size:20px'><b>USING "dtypes" PARAMETER</b></li>
</ul>

<ul>
<li style='font-size:20px'><b>HANDELLING DATES</b></li>
</ul>

In [34]:
df=pd.read_csv('advertising.csv',parse_dates=['Timestamp']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   datetime64[ns]
 9   Clicked on Ad             1000 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(3)
memory usage: 78.3+ KB

<ul>
<li style='font-size:20px'><b>CONVERTORS</b></li>
</ul>

In [35]:
'''def rename(name):
    if name=='royal challengers banglore'
        return 'RCB'
pd.read_csv('....',converters={'team1':rename})'''

"def rename(name):\n    if name=='royal challengers banglore'\n    return 'RCB'\npd.read_csv('....',converters={'team1':rename})"

<ul>
<li style='font-size:20px'><b>na_values PARAMETER</b></li>
</ul>

In [36]:
#pd.read_csv('advertising.csv',na_values=['Male'],'any other values')