In [19]:
import time
from bs4 import BeautifulSoup
import pandas as pd
import math
from amazon_bot import Amazon_bot

In [20]:
url='https://www.amazon.com'
search_item='most expensive laptops'
amazon_bot=Amazon_bot(url,search_item)

In [21]:
htmls=amazon_bot.get_html()

Error occurred during sending2 next key

In [39]:
def parse_pages():
    print(f"Total pages loaded: {len(htmls)}")
    products = []

    for html in htmls:
        if not html:
            continue
        soup = BeautifulSoup(html, 'html.parser')
        items = soup.find_all('div', class_='puisg-col-inner')
        for item in items:
            # Extract product name
            name = None
            h2 = item.find('h2')
            if h2:
                span = h2.find('span')
                if span and span.text.strip():
                    name = span.text.strip()
            else:
                span = item.find('span', class_='a-size-medium')
                if span and span.text.strip():
                    name = span.text.strip()
            # Extract price
            price = None
            price_span = item.find('span', class_='a-price-whole')
            if price_span and price_span.text.strip():
                price = price_span.text.strip()
            else:
                price_span = item.find('span', class_='a-color-base')
                if price_span and price_span.text.strip():
                    price = price_span.text.strip()
            # Only append if both name and price are found
            if name and price:
                products.append({'Name of the product': name, 'Price': price})

    df = pd.DataFrame(products)
    print(f"Total products found: {len(df)}")
    return df

# Call the function
price_data = parse_pages()

Total pages loaded: 20
Total products found: 303

In [58]:
price_data_df=pd.DataFrame(price_data,columns=['Name of the product','Price'])

In [59]:
price_data_df.head()

                                 Name of the product           Price
0  NIMO 15.6 IPS FHD-Laptop, 16GB RAM 1TB SSD Int...  Small Business
1  Alienware x14 R2 Gaming Laptop 14" QHD+ 165Hz ...       $1,279.37
2  Lenovo V15 Laptop, 15.6" FHD Display, AMD Ryze...         $450.00
3  HP 14 Laptop, Intel Celeron N4020, 4 GB RAM, 6...         $112.99
4  HP 15.6 inch Laptop, FHD Display, 12th Gen Int...         $329.56

In [60]:
price_data_df['Price_num']=price_data_df['Price'].apply(lambda s:s.split('$')[-1])

In [62]:
price_data_df.head()

,Name of the product,Price,Price_num
0,"NIMO 15.6 IPS FHD-Laptop, 16GB RAM 1TB SSD Int...",Small Business,Small Business
1,"Alienware x14 R2 Gaming Laptop 14"" QHD+ 165Hz ...","$1,279.37","1,279.37"
2,"Lenovo V15 Laptop, 15.6"" FHD Display, AMD Ryze...",$450.00,450.00
3,"HP 14 Laptop, Intel Celeron N4020, 4 GB RAM, 6...",$112.99,112.99
4,"HP 15.6 inch Laptop, FHD Display, 12th Gen Int...",$329.56,329.56