### **MICE Algorithm(Multivarient Impuation By Chained Equations)**

We use this algorithm when the data is missing at random.

It is accurate.\
It becomes slow as we use the machinelearning algorithm to fill the missing values.

Following picutres show the steps invloved in the iteravtive impuation.

1. At first the output from the dataset is removed.
![image](1.png)

2.Then the False nan values are introduced in the dataset.
![image](2.png)

3. Then  predicting algotihm are applied to the input dataset such that: at each step one column of the dataset is marked for the output and the other are used to prdict the value at that point.
![image](3.png) 
![image](4.png) 
![image](5.png) 
![image](6.png)

4. Then the multiple iteration of such are done untill the difference in the perdicted value in the two iteration reaches near zero which is the predicated fitted value.
![image](7.png)

In [119]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [120]:
url='https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day40-iterative-imputer/50_Startups.csv'
data=pd.read_csv(url)
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [121]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [122]:
data=np.round(data[['R&D Spend','Administration','Marketing Spend','Profit']]/1000)
np.random.seed(9)
data=data.sample(5)#pciking out only 5 of the data to illustrate the steps involved
data

    R&D Spend  Administration  Marketing Spend  Profit
21       78.0           154.0            300.0   111.0
37       44.0            51.0            197.0    90.0
2       153.0           101.0            408.0   191.0
14      120.0           157.0            257.0   133.0
44       22.0           155.0             28.0    65.0

In [123]:
data=data.iloc[:,0:-1]
data

    R&D Spend  Administration  Marketing Spend
21       78.0           154.0            300.0
37       44.0            51.0            197.0
2       153.0           101.0            408.0
14      120.0           157.0            257.0
44       22.0           155.0             28.0

In [124]:
#introducing null values in the columns
data.iloc[1,0]=np.nan
data.iloc[3,1]=np.nan
data.iloc[-1,-1]=np.nan

C:\Users\Acer\AppData\Local\Temp\ipykernel_25080\2670690348.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.iloc[1,0]=np.nan
C:\Users\Acer\AppData\Local\Temp\ipykernel_25080\2670690348.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.iloc[3,1]=np.nan
C:\Users\Acer\AppData\Local\Temp\ipykernel_25080\2670690348.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.iloc[-1,-1]=np.nan

In [125]:
data

    R&D Spend  Administration  Marketing Spend
21       78.0           154.0            300.0
37        NaN            51.0            197.0
2       153.0           101.0            408.0
14      120.0             NaN            257.0
44       22.0           155.0              NaN

In [126]:
#creating another dataframe to hold the values
df0=pd.DataFrame()
df0['R&D Spend']=data['R&D Spend'].fillna(data['R&D Spend'].mean())
df0['Administration']=data['Administration'].fillna(data['Administration'].mean())
df0['Marketing Spend']=data['Marketing Spend'].fillna(data['Marketing Spend'].mean())

In [127]:
df0

    R&D Spend  Administration  Marketing Spend
21      78.00          154.00            300.0
37      93.25           51.00            197.0
2      153.00          101.00            408.0
14     120.00          115.25            257.0
44      22.00          155.00            290.5

In [128]:
df1=df0.copy()
df1.iloc[1,0]=np.nan
df1

    R&D Spend  Administration  Marketing Spend
21       78.0          154.00            300.0
37        NaN           51.00            197.0
2       153.0          101.00            408.0
14      120.0          115.25            257.0
44       22.0          155.00            290.5

In [129]:
'''separting the column one by one :here at first the nan is introduced in the first 
column which will be treated as the ouput and the other as the input 
to fit in the linear regression model and it will be done for all of the
columns but one at a time
'''
X=df1.iloc[[0,2,3,4],1:3]
X

    Administration  Marketing Spend
21          154.00            300.0
2           101.00            408.0
14          115.25            257.0
44          155.00            290.5

In [130]:
Y=df1.iloc[[0,2,3,4],0]
Y

21     78.0
2     153.0
14    120.0
44     22.0
Name: R&D Spend, dtype: float64

In [131]:
lr=LinearRegression()
lr.fit(X,Y)
df1.iloc[1,0]=lr.predict(df1.iloc[1,1:].values.reshape(1,2))

C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [132]:
df1

     R&D Spend  Administration  Marketing Spend
21   78.000000          154.00            300.0
37  230.508361           51.00            197.0
2   153.000000          101.00            408.0
14  120.000000          115.25            257.0
44   22.000000          155.00            290.5

In [133]:
df1.iloc[3,1]=np.nan
X=df1.iloc[[0,1,2,4],[0,2]]
Y=df1.iloc[[0,1,2,4],1]
lr=LinearRegression()
lr.fit(X,Y)
df1.iloc[3,1]=lr.predict(df1.iloc[3,[0,2]].values.reshape(1,2))
df1

C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

     R&D Spend  Administration  Marketing Spend
21   78.000000      154.000000            300.0
37  230.508361       51.000000            197.0
2   153.000000      101.000000            408.0
14  120.000000      113.557345            257.0
44   22.000000      155.000000            290.5

In [134]:
df1.iloc[4,-1]=np.nan
X=df1.iloc[0:4,0:2]
Y=df1.iloc[0:4,-1]
lr=LinearRegression()
lr.fit(X,Y)
df1.iloc[4,-1]=lr.predict(df1.iloc[4,0:2].values.reshape(1,2))
df1

C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

     R&D Spend  Administration  Marketing Spend
21   78.000000      154.000000       300.000000
37  230.508361       51.000000       197.000000
2   153.000000      101.000000       408.000000
14  120.000000      113.557345       257.000000
44   22.000000      155.000000       264.124045

In [135]:
df1-df0

     R&D Spend  Administration  Marketing Spend
21    0.000000        0.000000         0.000000
37  137.258361        0.000000         0.000000
2     0.000000        0.000000         0.000000
14    0.000000       -1.692655         0.000000
44    0.000000        0.000000       -26.375955

In [136]:
#now we iterate the same steps for multiple iterations untill we see the difference zero
df2=df1.copy()
df2.iloc[1,0]=np.nan
X=df2.iloc[[0,2,3,4],1:3]
Y=df2.iloc[[0,2,3,4],0]
lr=LinearRegression()
lr.fit(X,Y)
df2.iloc[1,0]=lr.predict(df2.iloc[1,1:].values.reshape(1,2))
df2.iloc[3,1]=np.nan
X=df2.iloc[[0,1,2,4],[0,2]]
Y=df2.iloc[[0,1,2,4],1]
lr=LinearRegression()
lr.fit(X,Y)
df2.iloc[3,1]=lr.predict(df2.iloc[3,[0,2]].values.reshape(1,2))
df2.iloc[4,-1]=np.nan
X=df2.iloc[0:4,0:2]
Y=df2.iloc[0:4,-1]
lr=LinearRegression()
lr.fit(X,Y)
df2.iloc[4,-1]=lr.predict(df2.iloc[4,0:2].values.reshape(1,2))

C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [137]:
df2-df1

    R&D Spend  Administration  Marketing Spend
21   0.000000        0.000000         0.000000
37 -24.882867        0.000000         0.000000
2    0.000000        0.000000         0.000000
14   0.000000       -5.245571         0.000000
44   0.000000        0.000000      -226.986622

In [138]:
#now we iterate the same steps for multiple iterations untill we see the difference zero
df3=df2.copy()
df3.iloc[1,0]=np.nan
X=df3.iloc[[0,2,3,4],1:3]
Y=df3.iloc[[0,2,3,4],0]
lr=LinearRegression()
lr.fit(X,Y)
df3.iloc[1,0]=lr.predict(df3.iloc[1,1:].values.reshape(1,2))
df3.iloc[3,1]=np.nan
X=df3.iloc[[0,1,2,4],[0,2]]
Y=df3.iloc[[0,1,2,4],1]
lr=LinearRegression()
lr.fit(X,Y)
df3.iloc[3,1]=lr.predict(df3.iloc[3,[0,2]].values.reshape(1,2))
df3.iloc[4,-1]=np.nan
X=df3.iloc[0:4,0:2]
Y=df3.iloc[0:4,-1]
lr=LinearRegression()
lr.fit(X,Y)
df3.iloc[4,-1]=lr.predict(df3.iloc[4,0:2].values.reshape(1,2))

C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [139]:
df3-df2

    R&D Spend  Administration  Marketing Spend
21   0.000000        0.000000          0.00000
37 -38.842357        0.000000          0.00000
2    0.000000        0.000000          0.00000
14   0.000000       -3.132672          0.00000
44   0.000000        0.000000        -32.80421

In [140]:
#now we iterate the same steps for multiple iterations untill we see the difference zero
df4=df3.copy()
df4.iloc[1,0]=np.nan
X=df4.iloc[[0,2,3,4],1:3]
Y=df4.iloc[[0,2,3,4],0]
lr=LinearRegression()
lr.fit(X,Y)
df4.iloc[1,0]=lr.predict(df4.iloc[1,1:].values.reshape(1,2))
df4.iloc[3,1]=np.nan
X=df4.iloc[[0,1,2,4],[0,2]]
Y=df4.iloc[[0,1,2,4],1]
lr=LinearRegression()
lr.fit(X,Y)
df4.iloc[3,1]=lr.predict(df4.iloc[3,[0,2]].values.reshape(1,2))
df4.iloc[4,-1]=np.nan
X=df4.iloc[0:4,0:2]
Y=df4.iloc[0:4,-1]
lr=LinearRegression()
lr.fit(X,Y)
df4.iloc[4,-1]=lr.predict(df4.iloc[4,0:2].values.reshape(1,2))

C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [141]:
df4-df3

    R&D Spend  Administration  Marketing Spend
21   0.000000         0.00000         0.000000
37  -2.032544         0.00000         0.000000
2    0.000000         0.00000         0.000000
14   0.000000         0.32504         0.000000
44   0.000000         0.00000         3.613026

In [142]:
#now we iterate the same steps for multiple iterations untill we see the difference zero
df5=df4.copy()
df5.iloc[1,0]=np.nan
X=df5.iloc[[0,2,3,4],1:3]
Y=df5.iloc[[0,2,3,4],0]
lr=LinearRegression()
lr.fit(X,Y)
df5.iloc[1,0]=lr.predict(df5.iloc[1,1:].values.reshape(1,2))
df5.iloc[3,1]=np.nan
X=df5.iloc[[0,1,2,4],[0,2]]
Y=df5.iloc[[0,1,2,4],1]
lr=LinearRegression()
lr.fit(X,Y)
df5.iloc[3,1]=lr.predict(df5.iloc[3,[0,2]].values.reshape(1,2))
df5.iloc[4,-1]=np.nan
X=df5.iloc[0:4,0:2]
Y=df5.iloc[0:4,-1]
lr=LinearRegression()
lr.fit(X,Y)
df5.iloc[4,-1]=lr.predict(df5.iloc[4,0:2].values.reshape(1,2))

C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [143]:
df5-df4

    R&D Spend  Administration  Marketing Spend
21   0.000000        0.000000         0.000000
37   0.208287        0.000000         0.000000
2    0.000000        0.000000         0.000000
14   0.000000       -0.036088         0.000000
44   0.000000        0.000000        -0.398577

Now since the difference appraoches very low we will take the dataset 5 as the imputed data

In [144]:
df5

    R&D Spend  Administration  Marketing Spend
21   78.00000      154.000000       300.000000
37  164.95888       51.000000       197.000000
2   153.00000      101.000000       408.000000
14  120.00000      105.468054       257.000000
44   22.00000      155.000000         7.547663