## **CLASSIFICATION METRICES**

### **ACCURACY**
- It is the simplest classification metrics
- Consider we take data with cgpa iq and placement as the binary column. Then we split the data in the train and test datsets. We then predict on the train data and then on the test data.

![image](1.png)

- Now for the each student we will see if the model has done correct or some mistake.
- Now we will take no of correct predictons and divide it by the total no of predictions.
- If the accuaracy is 0.8 that means if the further 1000 data are given then it will make 800 correct predictions.

Accuracy can be given as :
$$
\text{Accuracy = } \frac{\text{correct predictions}}{\text{total no of predctions}}
$$

In [15]:
import pandas as pd
import numpy as np

In [16]:
import matplotlib.pyplot as plt

In [17]:
data=pd.read_csv("C:/Users/Acer/OneDrive/Documents/MACLEARNING/machinelearning/data/advertising.csv")

In [18]:
data.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   object
 9   Clicked on Ad             1000 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 78.3+ KB

In [20]:
data=data[['Daily Time Spent on Site','Age','Clicked on Ad']]

In [21]:
data.head()

   Daily Time Spent on Site  Age  Clicked on Ad
0                     68.95   35              0
1                     80.23   31              0
2                     69.47   26              0
3                     74.15   29              0
4                     68.37   35              0

In [22]:
data.describe()

       Daily Time Spent on Site          Age  Clicked on Ad
count               1000.000000  1000.000000     1000.00000
mean                  65.000200    36.009000        0.50000
std                   15.853615     8.785562        0.50025
min                   32.600000    19.000000        0.00000
25%                   51.360000    29.000000        0.00000
50%                   68.215000    35.000000        0.50000
75%                   78.547500    42.000000        1.00000
max                   91.430000    61.000000        1.00000

In [23]:
data.isnull().sum()

Daily Time Spent on Site    0
Age                         0
Clicked on Ad               0
dtype: int64

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
data = data.rename(columns={'Daily Time Spent on Site': 'time','Age':'age','Clicked on Ad':'cad'})

In [27]:
X=data[['time','age']]
y=data['cad']

In [29]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2,stratify=y)

In [30]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [31]:
log=LogisticRegression()

In [32]:
log.fit(X_train,y_train)
y_pred=log.predict(X_test)

In [34]:
dc=DecisionTreeClassifier()
dc.fit(X_train,y_train)
y_pred2=dc.predict(X_test)

In [35]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [36]:
print("Logistic Regression Accuracy:", accuracy_score(y_test, y_pred))
print("Decision Tree Accuracy:", accuracy_score(y_test, y_pred2))

Logistic Regression Accuracy: 0.89
Decision Tree Accuracy: 0.84

### **HOW MUCH ACCURACY SCORE IS GOOD?**

It depends on the problem we are solving.
-  for example, in hospital the 99% accuracy is the bad
- for example, in the prediction of coustomer data the 80% accuracy is also good

### **THE PROBLEM WITH THE ACCURACY**

eg:\
for the model with the 90% of accuracy,\
model says that there has been error but doesnot tell what type of mistake it is as if it has predicted False for true or true for false.

### **CONFUSION MATRIX**

In [38]:
from sklearn.metrics import classification_report
#for logistiv regression
print('For logistic regression')
print(classification_report(y_test,y_pred))
print("For decision tree classifier")
print(classification_report(y_test,y_pred2))

For logistic regression
              precision    recall  f1-score   support

           0       0.85      0.94      0.90       100
           1       0.93      0.84      0.88       100

    accuracy                           0.89       200
   macro avg       0.89      0.89      0.89       200
weighted avg       0.89      0.89      0.89       200

For decision tree classifier
              precision    recall  f1-score   support

           0       0.81      0.88      0.85       100
           1       0.87      0.80      0.83       100

    accuracy                           0.84       200
   macro avg       0.84      0.84      0.84       200
weighted avg       0.84      0.84      0.84       200

In [40]:
#to print the confusion matrix
confusion_matrix(y_test,y_pred)

array([[94,  6],
       [16, 84]])

![image](2.png)

In our dataset **```advertisment.csv```** 1 would be clicked on ad and 0 would be not clicked on ad.

- True postive: value 96 represent that model shows that 96 people clicked on ad and they actually clciked on ad.
- True negative: value 85 represent that model shows that 85 people did not click on ad and they actually did not click on ad.
- False positive: value 9 represent that model shows that 9 people clicked on ad but they actually did not click on ad.
- False negative: value 10 represent that model shows that 10 people did not click on ad but they actually clicked on ad.

**TYPE OF ERRORS:**
- **False Positive (Type I Error)**: Model predicts positive, but the actual is negative. In our dataset false postive means model says that model predicted user clicked on ad but actually did not click on ad.
- **False Negative (Type II Error)**: Model predicts negative, but the actual is positive. In our dataset false negative means model says that model predicted user did not click on ad but actually clicked on ad.
- **True Positive**: Model predicts positive, and the actual is also positive. In our dataset true postive means model says that model predicted user clicked on ad and actually clicked on ad.
- **True Negative**: Model predicts negative, and the actual is also negative. In our dataset true negative means model says that model predicted user did not click on ad and actually did not click on ad.

$$
Accuracy = \frac{TP + TN}{TP + TN + FP + FN}
$$

### **WHEN ACCURACT IS MISLEADING?**   
- If the data is imbalanced, then accuracy is misleading.
- For example, if we have 1000 data and 900 data is of class 0 and 100 data is of class 1. If we predict all the data as class 0 then we will get the accuracy of 90% but it is not good model as it is not predicting the class 1 at all.